
@{
    ViewBag.Title = "Dashboard";
}

@section Breadcrumbs
{
    <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">DASHBOARD</a>
    </div>
}


@section Content
{
    <div class="row">
        </div>

}
